<aside class="sidebar -ml-px">

  <nav class="sidebar-nav" aria-label="Dashboard navigation">
    <a class="nav-item nav-item--active" href="#">Dashboard</a>
    <a class="nav-item" href="#">Transactions</a>
    <a class="nav-item" href="#">Goals</a>
    <a class="nav-item" href="#">Settings</a>
  </nav>

  <div class="sidebar-user">
    <img src="/images/user.png" alt="your avatar" />
    <div>
      <p class="name">{{ userData?.fullName }}</p>
      <p class="mail">{{ userData?.email }}</p>
    </div>
  </div>
</aside>
